services:
  sitename:
    image: justintime50/nginx-php:8.0
    restart: always
    container_name: sitename
    volumes:
      - ./:/var/www/html
    networks:
      - traefik
    labels:
      - traefik.enabled=true
      - traefik.docker.network=traefik
      - traefik.frontend.rule=Host:nginx.localhost
      - traefik.port=80

networks:
  traefik:
    external:
      name: traefik
